{% extends 'base.html' %}

{% block content %}
  <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h1 class="text-3xl font-semibold mb-4"><i class="fas fa-home text-blue-500 mr-2"></i> Welcome to School Payment System</h1>
    <p class="text-lg mb-6">
      Manage your school payments conveniently with the School Payment System. This platform provides an easy and efficient way for students and staff to handle various payment transactions related to school fees, departmental fees, and more.
    </p>
    <p class="text-lg mb-6">
      Key Features:
      <ul class="list-disc ml-6">
        <li>Submit payments for school fees and departmental fees.</li>
        <li>Generate PDF invoices for each payment made.</li>
        <li>Scan payment QR codes for verification.</li>
        <li>Update your profile information securely.</li>
      </ul>
    </p>
    <p class="text-lg">
      Whether you're a student or a staff member, the School Payment System simplifies the payment process and ensures accurate record-keeping. Experience the convenience of managing payments online and eliminate the need for manual paperwork. <i class="far fa-smile ml-2 text-green-500"></i>
    </p>
  </div>
{% endblock %}
