{% extends 'base.html' %}

{% block content %}
  <div class="max-w-md mx-auto">
    <div class="bg-white p-6 rounded shadow">
      <h1 class="text-3xl font-semibold mb-4">All Invoices</h1>
      <ul>
        {% for invoice in invoices %}
          <li>
            <a href="{% url 'view_invoice' payment_id=invoice.payment.id %}">
              {{ invoice.payment.payment_category.title }} Invoice 
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
