{% extends 'base.html' %}

{% block content %}
  <div class="max-w-md mx-auto">
    <div class="bg-white p-6 rounded shadow">
      <h1 class="text-3xl font-semibold mb-4">Make Payment</h1>
      <form method="post">
        {% csrf_token %}
        <label class="block mb-2 font-semibold" for="payment_category">Select Payment Category:</label>
        <select class="block w-full py-2 px-4 rounded border focus:outline-none focus:ring focus:border-blue-500" name="payment_category" id="payment_category">
          {% for category in categories %}
            <option value="{{ category.id }}">{{ category.title }}</option>
          {% endfor %}
        </select>

        <label class="block mt-4 mb-2 font-semibold" for="amount">Enter Amount:</label>
        <input class="block w-full py-2 px-4 rounded border focus:outline-none focus:ring focus:border-blue-500" type="number" name="amount" id="amount">

        <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded cursor-pointer" type="submit">Submit Payment</button>
      </form>
    </div>
  </div>
{% endblock %}
